{% extends 'layout.html' %}
{%block body%}
<div class="landing-page">
    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('http://www.dole.com/~/media/Mastheads/Fresh_Vegetables.jpg');">
            <div class="container">
                <div class="row">
					<div class="col-md-6">
						<h1 class="title">Eat to live not Live to Eat</h1>
	                    <h4>Throwing away food is like stealing from the table of those who are poor and hungry.</h4>
	                    <h4 align="Right">-Pope Francis</h4>
	                    <br />
	                    <a href="https://www.youtube.com/watch?v=IoCVrkcaH6Q" class="btn btn-danger btn-raised btn-lg">
							<i class="fa fa-play"></i> Watch video
						</a>
						 <a href="/signup" class="btn btn-danger btn-raised btn-lg">
							<i class="fa fa-user-plus" aria-hidden="true"></i>
 Sign-Up
						</a>
					</div>
                </div>
            </div>
        </div>

		<div class="main main-raised">
			<div class="container">
		    	<div class="section text-center section-landing">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="title">Feed India is a not for profit organization
working to end Hunger and Malnutrition</h2>
	                        <h5 class="description">
Our mission is to feed chronically hungry Indians using the internet so as to help them survive, learn and work.</h5>
	                    </div>
	                </div>
					<div class="features">
						<div class="row">
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<i class="material-icons">directions_car</i>
									</div>
									<h4 class="info-title">Mobility Service</h4>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-success">
										<i class="material-icons">wifi_tethering</i>
									</div>
									<h4 class="info-title">Fully Online</h4>
								</div>
		                    </div>
		                    <div class="col-md-4">
								<div class="info">
									<div class="icon icon-danger">
										<i class="material-icons">money_off</i>
									</div>
									<h4 class="info-title">Non-for-Profit</h4>
								</div>
		                    </div>
		                </div>
					</div>
	            </div>
	     	       <div class="section landing-section">
	                <div class="row">
	                    <div class="col-md-8 col-md-offset-2">
	                        <h2 class="text-center title">Work with us</h2>
	                        <form class="contact-form">
	                            <div class="row">
	                                <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Name</label>
											<input type="email" class="form-control">
										</div>
	                                </div>
	                                <div class="col-md-6">
										<div class="form-group label-floating">
											<label class="control-label">Your Email</label>
											<input type="email" class="form-control">
										</div>
	                                </div>
	                            </div>

								<div class="form-group label-floating">
									<label class="control-label">Your Messge</label>
									<textarea class="form-control" rows="4"></textarea>
								</div>

	                            <div class="row">
	                                <div class="col-md-4 col-md-offset-4 text-center">
	                                    <button class="btn btn-primary btn-raised">
											Send Message
										</button>
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                </div>

	            </div>
	        </div>

		</div>
	</div>
</div>
{%endblock%}